* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    padding: 3em 5em;
    margin: 3em;
    background-color: rgb(83, 116, 83);
    color: red;
    border: 3px solid black;
    box-shadow: 2em lightgray;
    font-size: 1em;
    font-style: italic;
}

@media (max-width: 720px) {
    div {
        background-color: blue;
    }

    div:hover {
        background-color: antiquewhite;
    }

    div:active {
        background-color: black;
        color: white;
        border: 3px solid brown;

    }

}